! ------------------------------------------------------------------------------
! Colour Configuration
! ------------------------------------------------------------------------------

! special
*.foreground:   #c5c8c6
*.background:   #333232
*.cursorColor:  #c5c8c6

! black
*.color0:       #585c69
*.color8:       #585c69

! red
*.color1:       #cab0a1
*.color9:       #cab0a1

! green
*.color2:       #7c685e
*.color10:      #7c685e

! yellow
*.color3:       #986c5b
*.color11:      #986c5b

! blue
*.color4:       #5D5E55
*.color12:      #5D5E55

! magenta
*.color5:       #979892
*.color13:      #979892

! cyan
*.color6:       #cab0a1
*.color14:      #cab0a1

! white
*.color7:       #707880
*.color15:      #707880

! ------------------------------------------------------------------------------
! Font configuration
! ------------------------------------------------------------------------------

!URxvt*font:     xft:Comic Code:medium:size=11
URxvt*font:				xft:Comic Code:size=11
URxvt*boldFont:			xft:Comic Code:size=11
URxvt*italicFont:		xft:Comic Code:size=11
URxvt*boldItalicFont:	xft:Comic Code:size=11
URxvt.imLocale: pl_Pl.utf8

! ------------------------------------------------------------------------------
! Xft Font Configuration
! ------------------------------------------------------------------------------

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: true
Xft.antialias: true
Xft*rgba: rgb

! ------------------------------------------------------------------------------
! URxvt configs
! ------------------------------------------------------------------------------

! font spacing
URxvt*letterSpace:		-1
URxvt.lineSpace:		0

! general settings
URxvt*saveline:			15000
URxvt*termName:			rxvt-256color
URxvt*iso14755:			false
URxvt*urgentOnBell:		true

! appearance
URxvt*depth:			24
URxvt*scrollBar:		false
URxvt*scrollBar_right:	false
URxvt*internalBorder:	24
URxvt*externalBorder:	0
URxvt.geometry:			100x35

*internalBorder: 23
URxvt*fading: 0
URxvt*tintColor: #ffffff
URxvt*shading: 0
URxvt*inheritPixmap: False

! perl extensions
! URxvt.perl-ext-common:	default,clipboard,url-select,keyboard-select

! macros for clipboard and selection
URxvt.copyCommand:		xclip -i -selection clipboard
URxvt.pasteCommand:		xclip -o -selection clipboard
URxvt.keysym.M-c:		perl:clipboard:copy
URxvt.keysym.M-v:		perl:clipboard:paste
URxvt.keysym.M-C-v:		perl:clipboard:paste_escaped
URxvt.keysym.M-Escape:	perl:keyboard-select:activate
URxvt.keysym.M-s:		perl:keyboard-select:search
URxvt.keysym.M-u:		perl:url-select:select_next
URxvt.urlLauncher:		google-chorme
URxvt.underlineURLs:	true
URxvt.urlButton:		1     

! scroll one line
URxvt.keysym.Shift-Up:		command:\033]720;1\007
URxvt.keysym.Shift-Down:	command:\033]721;1\007

! control arrow
URxvt.keysym.Control-Up:	\033[1;5A
URxvt.keysym.Control-Down:	\033[1;5B
URxvt.keysym.Control-Right:	\033[1;5C
URxvt.keysym.Control-Left:	\033[1;5D

! ------------------------------------------------------------------------------
! Rofi configs
! ------------------------------------------------------------------------------

rofi.color-enabled: true
rofi.color-window: #2e3440, #2e3440, #2e3440
rofi.color-normal: #2e3440, #d8dee9, #2e3440, #2e3440, #bf616a
rofi.color-active: #2e3440, #b48ead, #2e3440, #2e3440, #93e5cc
rofi.color-urgent: #2e3440, #ebcb8b, #2e3440, #2e3440, #ebcb8b
rofi.modi: run,drun,window

! ------------------------------------------------------------------------------
! Dmenu configs
! ------------------------------------------------------------------------------

dmenu.selforeground:	    #d8dee9
dmenu.background:	        #2e3440
dmenu.selbackground:	    #bf616a
dmenu.foreground:	        #d8dee9
                                                           
